@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root{
  --light: #f2f2f2;
  --tea-light: #4ECABF;
  --dark-bg: #242424;
  --dark-input: #2A2C2B;
  --dark-tea: #4D9C95;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
}


