html{
    font-family: sans-serif;
}

body{
    background-color: #202124;
    background-image: url(../img/landscape.jpg);
    background-size: cover;
}

.container{
    display: block;
    position: relative;
    margin: 10% 30% 10% 30%;
    padding: 1% 2% 1% 2%;
    background-color: #222;
    border: solid 1px #222;
    border-radius: 8px;
}

.title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    font-size: 26px;
    color: #d6d6d6;
}

.form-field input{
    display: block;
    margin: 0 auto;
    background-color: #2a2a2a;
    color:#d6d6d6;
    border-radius: 4px;
    padding: 16px;
    width: 300px;
    margin-bottom: 15px;
}

.form-field input:hover{
    background-color: #2f2f2f;
}

.form-field input::placeholder{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    /* font-style: italic; */
}

.container-check{
    display: block;
    color: #d6d6d6;
    margin-left: 18%;
    margin-bottom: 10px;
}

/* .container-check input[type="checkbox"]{
    background-color: #2f2f2f;
} */

.login-button{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    border: solid 1px #2a2a2a;
    border-radius: 4px;
    width: 200px;
    background-color:#2a2a2a;
    color: #adadad;
}

.login-button:hover{
    background-color:#2f2f2f;
    cursor: pointer;
}

.link-sign{
    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: #adadad;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.link-sign:hover{
    color:#d6d6d6;
}
